<div class="row element">
  <div class="col-xs-4">
    Hunt XP
  </div>
  <div class="col-xs-8">
    <label ng-repeat="agebox in kdm.age">
      <input type="checkbox" ng-class="{level: agebox.level, retire: agebox.retire}" ng-model="agebox.value"><span></span>
    </label>
  </div>
</div>
<div class="row">
  <hr style="margin: 0px">
  <div class="col-xs-12" style="padding-left: 5px; padding-right: 5px;">
    <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
    <img src="static/images/book-open.svg" width="15" height="15" ng-show="kdm.age[1].value">
    <img src="static/images/book-closed.svg" width="15" height="15" ng-hide="kdm.age[1].value">
    <small>Age</small>
    
    <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
    <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
    <img src="static/images/book-open.svg" width="15" height="15" ng-show="kdm.age[5].value">
    <img src="static/images/book-closed.svg" width="15" height="15" ng-hide="kdm.age[5].value">
    <small>Age</small>
    
    <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
    <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
    <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
    <img src="static/images/book-open.svg" width="15" height="15" ng-show="kdm.age[9].value">
    <img src="static/images/book-closed.svg" width="15" height="15" ng-hide="kdm.age[9].value">
    <small>Age</small>
    
    <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
    <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
    <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
    <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
    <img src="static/images/book-open.svg" width="15" height="15" ng-show="kdm.age[14].value">
    <img src="static/images/book-closed.svg" width="15" height="15" ng-hide="kdm.age[14].value">
    <small>Age</small>
    
    
    <img class="filled-square" src="static/images/filled-retire.svg" width="10" height="10">
    <small>Retired</small>
  </div>
</div>