<div class="row bordered element" style="padding: 0px;">
  <div class="col-xs-2">
    <div class="row">
      <div class="col-xs-12 align-centre">
        <br />
        <input type="text" size="2" placeholder="0" ng-model="kdm.brain.value">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 align-centre">
        <small>Insanity</small>
      </div>
    </div>
  </div>
  
  <div class="col-xs-9"  style="border-left: 1px solid black; padding: 5px">
    <div class="row">
      <div class="col-xs-12">
        <big><strong>Brain</strong></big>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        If your insanity is 3+, you are <b>insane</b>
      </div>
    </div>
  </div>
  
  <div class="col-xs-1">
    <br />
    <label>
      <input type="checkbox" ng-model="kdm.brain.wound">
      <span></span>
    </label>
  </div>
</div>