<div class="row">
  <div class="col-xs-12">
    <div class="row" style="padding: 5px">
      <div class="col-xs-12">
        <strong>Courage</strong>
      </div>
    </div>
    <div class="row" style="padding: 5px">
      <div class="col-xs-12">
        <label ng-repeat="level in kdm.courage.levels">
          <input type="checkbox" ng-class="{level : level.level}" ng-model="level.value">
          <span></span>
        </label>
      </div>
    </div>
    <div class="row" style="padding: 5px">
      <div class="col-xs-12">
        <div class="col-xs-5" style="padding-left: 5px; padding-right: 5px;">
          <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
          <img src="static/images/book-open.svg" width="15" height="15" ng-show="kdm.courage.levels[2].value">
          <img src="static/images/book-closed.svg" width="15" height="15" ng-hide="kdm.courage.levels[2].value">
          <small>Bold</small>
        </div>
        <div class="col-xs-7" style="padding-left: 5px; padding-right: 5px;">
          <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
          <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
          <img src="static/images/book-open.svg" width="15" height="15" ng-show="kdm.courage.levels[8].value">
          <img src="static/images/book-closed.svg" width="15" height="15" ng-hide="kdm.courage.levels[8].value">
          <small>See the Truth</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
    <div class="row" style="padding: 5px">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-2">
            <label><input type="radio" name="courage" value="stalwart" ng-model="kdm.courage.bold"><span></span></label>
          </div>
          <div class="col-xs-10">
            <small><strong>Stalwart</strong>: can't be knocked down by brain trauma or intimidate.</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <label><input type="radio" name="courage" value="prepared" ng-model="kdm.courage.bold"><span></span></label>
          </div>
          <div class="col-xs-10">
            <hr style="margin: 0px">
            <small><strong>Prepared</strong>: Add Hunt XP to your roll when determining a straggler.</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <label><input type="radio" name="courage" value="matchmaker" ng-model="kdm.courage.bold"><span></span></label>
          </div>
          <div class="col-xs-10">
            <hr style="margin: 0px">
            <small><strong>Matchmaker</strong>: Spend 1 endeavor to trigger intimacy story event.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>