<div class="row bordered element">
  <div class="col-xs-3" >
    <br />
    <button type="button" class="btn btn-default btn-xs" ng-click="dec(kdm.survival)">&lt;</button>
    <input type="text" size="3" placeholder="0"  ng-model="kdm.survival.value" class="survival">
    <button type="button" class="btn btn-default btn-xs" ng-click="inc(kdm.survival)">&gt;</button>
  </div>
  
  <div class="col-xs-5">
    <div class="row">
      <div class="col-xs-12">
        <big><strong>Survival</strong></big>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label>
          <input type="checkbox" ng-model="kdm.survival.cannotspend">
          <span></span>
        </label>
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Cannot spend survival
      </div>
    </div>
  </div>
  
  <div class="col-xs-4">
    <div class="row">
      <div class="col-xs-12">
        <img class="filled-square" src="static/images/filled-square.svg" width="10" height="10">
        Dodge
      </div>
      <div class="col-xs-12">
        <label>
          <input type="checkbox" ng-model="kdm.survival.encourage" class="mini">
          <span></span>
        </label>
        Encourage
      </div>
      <div class="col-xs-12">
        <label>
          <input type="checkbox" ng-model="kdm.survival.surge" class="mini">
          <span></span>
        </label>
        Surge
      </div>
      <div class="col-xs-12">
        <label>
          <input type="checkbox" ng-model="kdm.survival.dash" class="mini">
          <span></span>
        </label>
        Dash
      </div>
    </div>
  </div>
</div>
