<div class="row element">
    <div class="col-xs-12">
        <div class="row">  
            <div class="col-xs-12">
                <big>Milestone Story Events</big><br />
                <small>Trigger these story events when the mileston condition is met.</small>
            </div>
        </div>
        <div class="row" ng-repeat="milestone in kdm.milestones track by $index">
            <div class="col-xs-1">
                <label ng-show="milestone.name">
                  <input type="checkbox" ng-model="milestone.value" class="mini">
                  <span></span>
                </label>
            </div>
            <div class="col-xs-5">
                <small><input type="text" class="underlined fullwidth left-align" ng-model="milestone.name" ng-readonly="milestone.disabled"></small>
            </div>
            <div class="col-xs-1">
                <img src="static/images/book-closed.svg" width="15" height="15" ng-hide="milestone.value || !milestone.event">
                <img src="static/images/book-open.svg" width="15" height="15" ng-show="milestone.value && milestone.event">
            </div>
            <div class="col-xs-5">
                <input type="text" class="underlined fullwidth left-align" ng-model="milestone.event" ng-readonly="milestone.disabled">  
            </div>
        </div>
    </div>
</div>