body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.bordered {
    border: 1px solid black;
}

.element {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 5px;
}

.right-align {
    text-align: right;
}

.attr {
    border-left: 1px solid black;
    padding: 5px;
}

input.underlined {
    border: 0;
    border-bottom: 1px solid black;
}

input.fullwidth {
    width: 100%;
}

input.noborder {
    border: 0;
}

input {
    border: 1px solid black;
}

hr {
    border-top: 1px solid black;
}

label input[type=checkbox] {
    display: none;
}

label input[type=radio] {
    display: none;
}

label.radio-inline {
    padding-left: 0;
}

label input[type=checkbox] + span
{
    background: url('images/checkbox-unchecked.svg') 0 0px no-repeat;
    height: 13px;
    width: 13px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin-left: 1px;
    margin-right: 1px;
}

label input[type=radio] + span
{
    background: url('images/radio-unchecked.svg') 0 0px no-repeat;
    height: 13px;
    width: 13px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin-left: 1px;
    margin-right: 1px;
}

label input[type=radio].radio-box + span
{
    background: url('images/checkbox-unchecked.svg') 0 0px no-repeat;
    height: 13px;
    width: 13px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin-left: 1px;
    margin-right: 1px;
}

label input[type=checkbox].mini + span
{
    background: url('images/checkbox-unchecked-mini.svg') no-repeat;
    height: 10px;
    width: 10px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin-left: 1px;
    margin-right: 1px;
}

label input[type=checkbox].level + span
{
    background: url('images/checkbox-heavy.svg') 0 0px no-repeat;
    height: 13px;
    width: 13px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin-left: 1px;
    margin-right: 1px;
}

label input[type=checkbox].retire + span
{
    background: url('images/checkbox-retire.svg') 0 0px no-repeat;
    height: 13px;
    width: 13px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin-left: 1px;
    margin-right: 1px;
}

label input[type=checkbox]:checked + span
{
    background: url('images/checkbox-checked.svg') 0 0px no-repeat;
    height: 13px;
    width: 13px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin-left: 1px;
    margin-right: 1px;
}

label input[type=checkbox]:checked.mini + span
{
    background: url('images/checkbox-checked.svg') 0 0px no-repeat;
    height: 10px;
    width: 10px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin-left: 1px;
    margin-right: 1px;
}

label input[type=radio]:checked.radio-box + span
{
    background: url('images/checkbox-checked.svg') 0 0px no-repeat;
    height: 13px;
    width: 13px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin-left: 1px;
    margin-right: 1px;
}

label input[type=radio]:checked + span
{
    background: url('images/radio-checked.svg') 0 0px no-repeat;
    height: 13px;
    width: 13px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin-left: 1px;
    margin-right: 1px;
}

.filled-square {
    margin-bottom: 3px;
}

.sheild {
    background-image: url('images/shield.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    height: 40px;
    display: table-cell;
}

.sheild input[type=text] {
    background: rgba(0,0,0,0);
    border: 0;
    text-align: center;
    margin-top: 3px;
    width: 40px;
}

.sheild input[type=text]:focus {
    outline: none;
}

.survival {
    border: 1px solid black;
    text-align: center;
}

.attr-val {
    text-align: center;
}

.attr-name {
    text-align: center;
}

input[type=text] {
    text-align: center;
}

div#about {
    text-align: center;
}

input[type=text].left-align {
    text-align: left;
    width: 100%;
}