<html ng-app="kdm">
  <head>
    
    <base href="/" />
       
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="static/kdm.css">
  </head>
  <body>
    <div ng-view class="container">
      <div class="row">
        <div class="col-md-5">
          <ng-include src="'static/templates/name.html'"></ng-include>
          <ng-include src="'static/templates/survival.html'"></ng-include>
          <ng-include src="'static/templates/attributes.html'"></ng-include>
          <ng-include src="'static/templates/brain.html'"></ng-include>
          <ng-include src="'static/templates/armour.html'"></ng-include>
          <button id="savejson">To JSON</button>
          <button id="loadjson">From JSON</button>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <ng-include src="'static/templates/age.html'"></ng-include>
          <ng-include src="'static/templates/weapons.html'"></ng-include>
          <div class="row element bordered" style="padding: 0px;">
            <div class="col-md-6" style="padding: 0px;">
              <ng-include src="'static/templates/courage.html'"></ng-include>
            </div>
            <div class="col-md-6" style="border-left: 1px solid black; padding: 0px">
              <ng-include src="'static/templates/understanding.html'"></ng-include>
            </div>
          </div>
          <ng-include src="'static/templates/record.html'"></ng-include>
        </div>
      </div>
    </div>
    
    <div id="load-dialog" title="From JSON">
      <p>Paste JSON below</p>
      <textarea rows="10" id="loadjson"></textarea>
    </div>
    
    <div id="save-dialog" title="From JSON">
      <p>Copy JSON below</p>
      <textarea rows="10" id="savejson" disabled="true"></textarea>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src='static/javascript/kdm.js'></script>
    <script type="text/javascript" src='static/javascript/kdm.config.js'></script>
    <script>
      $(function() {
        $( "#load-dialog" ).dialog({
          autoOpen: false,
          resizable: true,
          height:400,
          modal: true,
          buttons: {
            "Load": function() {
              $( this ).dialog( "close" );
              angular.element(document.body).scope().load($('textarea#loadjson').val());
            },
            Cancel: function() {
              $( this ).dialog( "close" );
            }
          }
        });
        $( "#loadjson" ).click(function() {
          $( "#load-dialog" ).dialog( "open" );
        });
        
        $( "#save-dialog" ).dialog({
          autoOpen: false,
          resizable: true,
          height:400,
        });
        $( "#savejson" ).click(function() {
          $('textarea#savejson').val(angular.element(document.body).scope().jsonify());
          $( "#save-dialog" ).dialog( "open" );
        });
      });
  </script>
  </body>
</html>