<html ng-app="kdm">
  <head>
    
    <base href="/" />
       
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="static/kdm.css">
  </head>
  <body>
    {% raw %}
    <div ng-view class="container">
    
      <ul class="nav nav-tabs">
        <li ng-repeat="tab in tabs">
          <a data-toggle="tab" href="#{{tab.id}}">{{tab.name.name ? tab.name.name : "Unnamed"}}</a>
        </li>
      </ul>
      
      <div class="row">
        <div class="col-md-12">
          <button id="savejson">To JSON</button>
          <button id="loadjson">From JSON</button>
          <button id="loadjson" ng-click="addChar()">Add char</button>
        </div>
      </div>
    </div>
    
    
    <div class="tab-content">
      <div ng-repeat="kdm in tabs" id="{{kdm.id}}" class="tab-pane container">
        <div ng-include="kdm.template"></div>
      </div>
    </div>
    {% endraw %}
    
    
    <div id="load-dialog" title="From JSON">
      <p>Paste JSON below</p>
      <textarea rows="10" id="loadjson"></textarea>
    </div>
    
    <div id="save-dialog" title="From JSON">
      <p>Copy JSON below</p>
      <textarea rows="10" id="savejson" disabled="true"></textarea>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src='static/javascript/kdm.js'></script>
    <script type="text/javascript" src='static/javascript/kdm.config.js'></script>
    <script>
      $(function() {
        $( "#load-dialog" ).dialog({
          autoOpen: false,
          resizable: true,
          height:400,
          modal: true,
          buttons: {
            "Load": function() {
              $( this ).dialog( "close" );
              angular.element(document.body).scope().load($('textarea#loadjson').val());
            },
            Cancel: function() {
              $( this ).dialog( "close" );
            }
          }
        });
        $( "#loadjson" ).click(function() {
          $( "#load-dialog" ).dialog( "open" );
        });
        
        $( "#save-dialog" ).dialog({
          autoOpen: false,
          resizable: true,
          height:400,
        });
        $( "#savejson" ).click(function() {
          $('textarea#savejson').val(angular.element(document.body).scope().jsonify());
          $( "#save-dialog" ).dialog( "open" );
        });
        $("input:checkbox").each(function() {
            $(this).hide();

            var $image = $("<img src='static/images/checkbox-unchecked.svg' />").insertAfter(this);    

            $image.click(function() {
                var $checkbox = $(this).prev(".check");
                $checkbox.prop('checked', !$checkbox.prop('checked'));

                if($checkbox.prop("checked")) {
                    $image.attr("src", "static/images/checkbox-checked.svg");
                } else {
                    $image.attr("src", "static/images/checkbox-unchecked.svg");
                }
            })
        });
      });
  </script>
  </body>
</html>