<html ng-app="kdm">
  <head>
    
    <base href="/" />
       
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/kdm.css">
  </head>
  <body>

    <a href="https://github.com/LupusUmbrae/KDM"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <div ng-hide="true">
    {% raw %}
    </div>
    <div ng-view class="container" ng-cloak>
    
      <ul class="nav nav-tabs">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Actions <span class="caret"></span>
              <ul class="dropdown-menu">
                <li><a id="addsettlement" href="javascript:void(0)" ng-click="addChar()">Add Character</a></li>
                <li><a id="addchar" href="javascript:void(0)" ng-click="addSettlement()">Add Settlement</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-submenu">
                  <a>Import/Export</a>
                  <ul class="dropdown-menu">
                    <li><a id="savejson" href="javascript:void(0)">To JSON</a></li>
                    <li><a id="loadjson" href="javascript:void(0)">Load JSON</a></li>
                  </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li><a id="clearAll" href="javascript:void(0)">Clear all</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-toggle="tab" href="#about">About</a></li>
              </ul>
            </a>
        </li>
        <li ng-repeat="tab in tabs track by $index">
          <a data-toggle="tab" href="#{{tab.id}}">{{tab.name.name ? tab.name.name : tab.type === "char" ? "Unnamed Char" : "Unamed Settlement"}} <span ng-click="deletetab(tab.id)" type="button"> x </span></a>
        </li>
      </ul>
    </div>
    
    <div class="tab-content" ng-cloak>
      <div class="tab-pane jumbotron container active" id="about">
        <h1>Kingdom Death Monster</h1>
        <p>~Web Forms~</p>
        <small>v0.0.1</small>
      </div>
      <div ng-repeat="kdm in tabs track by $index" id="{{kdm.id}}" class="tab-pane container">
        <div ng-include="kdm.template"></div>
      </div>
    </div>
    
    <div id="load-dialog" title="From JSON" ng-cloak>
      <p>Paste JSON below</p>
      <textarea rows="10" id="loadjson"></textarea>
    </div>
    
    <div id="save-dialog" title="From JSON" ng-cloak>
      <p>Copy JSON below</p>
      <textarea rows="10" id="savejson" disabled="true"></textarea>
    </div>

    <div id="timeline-dialog" title="Add Event to Timeline">
      <input id="year" type="text" placeholder="Year" class="noborder left-align" maxlength="2" size="2">
      <select>
        <option ng-repeat="option in timeline.options" value="{{option}}">{{option}}</option>
      </select>
      <input id="event" type="text" placeholder="Event" class="underlined left-align" style="width: 100%;">
    </div>
    
    <div id="clear-dialog" title="Clear your records and start again?" ng-cloak>
      <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure you want to clear all the records?</p>
    </div>
    
    <div ng-hide="true">
    {% endraw %}
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src='static/javascript/kdm.js'></script>
    <script type="text/javascript" src='static/javascript/kdm.config.js'></script>
  </body>
</html>
