<div class="row bordered element" style="padding: 0px;">
  <div class="col-md-2" style="padding: 5px">
    <div class="row">
      <div class="col-md-12">
        <input type="text" size="1" value="5">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small>Movement</small>
      </div>
    </div>
  </div>
  
  <div class="col-md-2" style="border-left: 1px solid black; padding: 5px">
    <div class="row">
      <div class="col-md-12">
        <input type="text" size="1" placeholder="0">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small>Accuracy</small>
      </div>
    </div>
  </div>
  
  <div class="col-md-2" style="border-left: 1px solid black; padding: 5px">
    <div class="row">
      <div class="col-md-12">
        <input type="text" size="1" placeholder="0">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small>Strength</small>
      </div>
    </div>
  </div>
  
  <div class="col-md-2" style="border-left: 1px solid black; padding: 5px">
    <div class="row">
      <div class="col-md-12">
        <input type="text" size="1" placeholder="0">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small>Evasion</small>
      </div>
    </div>
  </div>
  
  <div class="col-md-2" style="border-left: 1px solid black; padding: 5px">
    <div class="row">
      <div class="col-md-12">
        <input type="text" size="1" placeholder="0">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small>Luck</small>
      </div>
    </div>
  </div>
  
  <div class="col-md-2" style="border-left: 1px solid black; padding: 5px">
    <div class="row">
      <div class="col-md-12">
        <input type="text" size="1" placeholder="0">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small>Speed</small>
      </div>
    </div>
  </div>
</div>