<div class="row bordered element" style="padding: 0px;">
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <input type="text" size="1" placeholder="0">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small>Insanity</small>
      </div>
    </div>
  </div>
  
  <div class="col-md-9"  style="border-left: 1px solid black; padding: 5px">
    <div class="row">
      <div class="col-md-12">
        <h3>Brain</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        If your insanity is 3+, you are <b>insane</b>
      </div>
    </div>
  </div>
  
  <div class="col-md-1">
    <input type="checkbox">
  </div>
</div>