<div class="row">
  <div class="col-xs-12 col-md-5">
    <ng-include src="'static/templates/char/name.html'"></ng-include>
    <ng-include src="'static/templates/char/survival.html'"></ng-include>
    <ng-include src="'static/templates/char/attributes.html'"></ng-include>
    <ng-include src="'static/templates/char/brain.html'"></ng-include>
    <ng-include src="'static/templates/char/armour.html'"></ng-include>
  </div>
  <div class="col-xs-12 col-md-5 col-md-offset-1">
    <ng-include src="'static/templates/char/age.html'"></ng-include>
    <ng-include src="'static/templates/char/weapons.html'"></ng-include>
    <div class="row element bordered" style="padding: 0px;">
      <div class="col-xs-6" style="padding: 0px;">
        <ng-include src="'static/templates/char/courage.html'"></ng-include>
      </div>
      <div class="col-xs-6" style="border-left: 1px solid black; padding: 0px">
        <ng-include src="'static/templates/char/understanding.html'"></ng-include>
      </div>
    </div>
    <ng-include src="'static/templates/char/record.html'"></ng-include>
  </div>
</div>