<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <strong>Courage</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4" style="padding-left: 5px; padding-right: 5px;">
          <input type="checkbox" checked="true" disabled="true">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> 
          <small>Bold</small>
        </div>
        <div class="col-md-8" style="padding-left: 5px; padding-right: 5px;">
          <input type="checkbox" checked="true" disabled="true">
          <input type="checkbox" checked="true" disabled="true">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> 
          <small>See the Truth</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <div class="row">
          <div class="col-md-2">
            <input type="radio" name="courage">
          </div>
          <div class="col-md-10">
            <small><strong>Stalwart</strong>: can't be knocked down by brain trauma or intimidate.</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <input type="radio" name="courage">
          </div>
          <div class="col-md-10">
            <hr style="margin: 0px">
            <small><strong>Prepared</strong>: Add Hunt XP to your roll when determining a straggler.</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <input type="radio" name="courage">
          </div>
          <div class="col-md-10">
            <hr style="margin: 0px">
            <small><strong>Matchmaker</strong>: Spend 1 endeavor to trigger intimacy story event.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>