<div class="row element">
  <div class="col-md-9">
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">Name</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
    </div>
  </div>
  <div class="col-md-3">
    <label class="radio-inline"><input type="radio" name="sex">M</label>
    <label class="radio-inline"><input type="radio" name="sex">F</label>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
    <small>When you name your survivor they gain +1 <b>survivals</b></small>
  </div>
</div>