<div class="row element" ng-repeat="record in kdm.records">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <big>{{record.name}}</big> <small>{{record.limit}}</small>
      </div>
      <div class="col-md-6 right-align" ng-show="record.checkbox">
        <input type="checkbox" ng-model="record.checkbox.value"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span><small>{{record.checkbox.text}}</small>
      </div>
    </div>
    
    <div class="row" ng-repeat="n in record.lines track by $index">
      <div class="col-md-12">
        <input type="text" class="underlined fullwidth" ng-model="record.lines[$index]">
      </div>
    </div>
  </div>
</div>