<div class="row">
  <div class="col-xs-7">
    <ng-include src="'static/templates/settlement/name.html'"></ng-include>
    <ng-include src="'static/templates/settlement/timeline.html'"></ng-include>
    <ng-include src="'static/templates/settlement/innovations.html'"></ng-include>
    <ng-include src="'static/templates/settlement/principles.html'"></ng-include>
  </div>
  <div class="col-xs-5">
    <ng-include src="'static/templates/settlement/death.html'"></ng-include>
    <ng-include src="'static/templates/settlement/milestones.html'"></ng-include>
    <ng-include src="'static/templates/settlement/nemesis.html'"></ng-include>
    <ng-include src="'static/templates/settlement/locations.html'"></ng-include>
    <ng-include src="'static/templates/settlement/quarries.html'"></ng-include>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ng-include src="'static/templates/settlement/record.html'" ng-repeat="record in kdm.records"></ng-include>
    <ng-include src="'static/templates/settlement/population.html'"></ng-include>
  </div>
</div>