<div class="row bordered element">
  <div class="col-md-2" >
    <input type="text" size="1" placeholder="0"  ng-model="kdm.survival.value">
  </div>
  
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12">
        <h3>Survival</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="checkbox" ng-model="kdm.survival.cannotspend"> <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Cannot spend survival
      </div>
    </div>
  </div>
  
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12">
        <input type="checkbox" checked="true" disabled="true"> Dodge
      </div>
      <div class="col-md-12">
          <input type="checkbox" ng-model="kdm.survival.encourage"> Encourage
      </div>
      <div class="col-md-12">
          <input type="checkbox" ng-model="kdm.survival.surge"> Surge
      </div>
      <div class="col-md-12">
          <input type="checkbox" ng-model="kdm.survival.dash"> Dash
      </div>
    </div>
  </div>
</div>
