<div class="row bordered element">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <big>Weapon Proficieny
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small><strong>Type: </strong> <input type="text"></small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small>Select Before Hunt</small>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <input type="checkbox" checked="true" disabled="true">
          <small>Specialist</small>
        </div>
        <div class="col-md-6">
          <input type="checkbox" checked="true" disabled="true">
          <input type="checkbox" checked="true" disabled="true">
          <small>Master</small>
        </div>
      </div>
    </div>
    
  </div>
</div>